/* NeoLight Dashboard Stylesheet: nl-ui-v0.1 */

html{
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'Segoe UI';
    height: 100%;
    width: 100%;

    margin: 0;
}

.overlay{
    background-color: gray;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    color: white;
    flex-direction: column;
    align-items: center;
}

.main-wrapper{
    display: flex;
    justify-content: safe center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.widget-wrapper{
    background-color: grey;     /*color for debug purposes*/

    max-height: 100%;
    max-width: calc((1920/1080)*100vh);     /*set max width to a full hd aspect ratio based on height*/
    min-width: 300px;
    min-height: 200px;
    flex-grow: 1;

    display: flex;
    justify-content: safe center;
    flex-wrap: wrap;
    overflow: auto;
}

.widget{
    background-color: white;     /*color for debug purposes*/

    flex-basis: calc(((1920/1080)*100vh)/2.5);
    flex-grow: 1;
    height: 60%;
    min-width: 200px;

    display: flex;
}

.widget-alt{
    height: 40%;
    flex-basis: 100%;
}

.widget-content-wrapper{
    background-color: gray;

    flex-grow: 1;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.widget-title{
    background-color: bisque;

    height: 10%;
    max-width: 100%;
    align-self: stretch;
    margin: 10px 10px 0 10px;
}

.widget-title-alt{
    height: calc(10%*(60/40));      /*adjust title height to be equal with bigger widgets*/
    margin-top: 0px;                /*no top margin for alternative widget*/
}

.widget-content-container{
    background-color: cadetblue;

    flex-grow: 1;
    max-width: 100%;
    align-self: stretch;
    margin: 0 10px 10px 10px;

    display: flex;
    justify-content: safe center;
    flex-wrap: wrap;
    overflow: hidden;
}

.widget-content{
    background-color: white;
    border: 1px solid red;

    flex-basis: calc(((1920/1080)*100vh)/5.5);
    flex-grow: 1;
}

.widget-content-alt{
    background-color: white;
    border: 1px solid red;

    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
}

.test-object{
    height: calc(100%-2px);
    width: 30vh;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid blue;
}